---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-ce/milestones?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df03bf47b63ffc70cf11a3ce0ff2465b"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/milestones?id=gitlab-org%2Fgitlab-ce&page=1&per_page=20&state=active>;
        rel="first", <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/milestones?id=gitlab-org%2Fgitlab-ce&page=1&per_page=20&state=active>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1553529673'
      Ratelimit-Resettime:
      - Tue, 25 Mar 2019 16:01:13 GMT
    body:
      encoding: UTF-8
      string: '[{"id":22434,"iid":15,"project_id":13083,"title":"Support","description":"","state":"active","created_at":"2015-08-27T00:08:51.317Z","updated_at":"2015-08-27T00:08:51.317Z","due_date":null,"start_date":null,"web_url":"https://gitlab.com/gitlab-org/gitlab-ce/milestones/15"}]'
  recorded_at: Mon, 25 Mar 2019 16:00:13 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v4/groups/gitlab-org/milestones?state=active
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7f0c77df2880ccb85efc8878ed21b45"
      Link:
      - <https://gitlab.com/api/v4/groups/gitlab%2Dorg/milestones?id=gitlab-org&page=1&per_page=20&state=active>;
        rel="first", <https://gitlab.com/api/v4/groups/gitlab%2Dorg/milestones?id=gitlab-org&page=1&per_page=20&state=active>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '17'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1553529674'
      Ratelimit-Resettime:
      - Tue, 25 Mar 2019 16:01:14 GMT
    body:
      encoding: UTF-8
      string: '[{"id":731039,"iid":38,"group_id":9970,"title":"12.4","description":"","state":"active","created_at":"2018-12-07T12:41:53.212Z","updated_at":"2019-01-16T19:50:51.218Z","due_date":"2019-10-22","start_date":"2019-09-08","web_url":"https://gitlab.com/groups/gitlab-org/-/milestones/38"},{"id":731038,"iid":37,"group_id":9970,"title":"12.3","description":"","state":"active","created_at":"2018-12-07T12:40:55.400Z","updated_at":"2019-01-16T19:50:20.313Z","due_date":"2019-09-22","start_date":"2019-08-08","web_url":"https://gitlab.com/gro[...]
