---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/gitlab-org%2Fgitlab-ce/pipelines?per_page=50&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[GITLAB_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d71a6ad1e3f79e9858f704d266b5f9b6"
      Link:
      - <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/pipelines?id=gitlab-org%2Fgitlab-ce&order_by=id&page=2&per_page=5&ref=master&sort=desc>;
        rel="next", <https://gitlab.com/api/v4/projects/gitlab%2Dorg%2Fgitlab%2Dce/pipelines?id=gitlab-org%2Fgitlab-ce&order_by=id&page=1&per_page=5&ref=master&sort=desc>;
        rel="first"
      X-Next-Page:
      - '2'
      X-Page:
      - '1'
      X-Per-Page:
      - '5'
      X-Prev-Page:
      - ''
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1559337306'
      Ratelimit-Resettime:
      - Fri, 31 May 2019 21:15:06 GMT
    body:
      encoding: UTF-8
      string: '[{"id":64184059,"sha":"15916ad55920ca582a9124f7f0737b0373432a99","ref":"master","status":"running","web_url":"https://gitlab.com/gitlab-org/gitlab-ce/pipelines/64184059"},{"id":64181884,"sha":"3e4862ac6d492807a0b2a6ba3dde819716dbfae1","ref":"master","status":"running","web_url":"https://gitlab.com/gitlab-org/gitlab-ce/pipelines/64181884"},{"id":64179668,"sha":"523ed2e72962e97be2603ab78aa13b372da582fa","ref":"master","status":"running","web_url":"https://gitlab.com/gitlab-org/gitlab-ce/pipelines/64179668"},{"id":64176295,"sha":"523ed2e72962e97be2603ab78aa13b372da582fa","ref":"master","status":"success","web_url":"https://gitlab.com/gitlab-org/gitlab-ce/pipelines/64176295"},{"id":64165460,"sha":"9209736a22501dd4ea16afee86d0968bead84100","ref":"master","status":"success","web_url":"https://gitlab.com/gitlab-org/gitlab-ce/pipelines/64165460"}]'
  recorded_at: Fri, 31 May 2019 21:14:06 GMT
[...]
