---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.1.0%2Brc9.ee.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8c562eb342bbc88206d784a703d6eeb"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc9.ee.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc9.ee.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":86691,"sha":"1f4f4e4d5bd5f8a2219afb4a83f14a1dd709e7d7","ref":"11.1.0+rc9.ee.0","status":"success"}]'
  recorded_at: Thu, 12 Jul 2018 18:22:34 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/86691/jobs?scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7028acf67ec7748eb6b44f30c16aef12"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86691/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86691&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86691/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86691&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '18'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":2614572,"status":"manual","stage":"trigger-packages","name":"release:packages","ref":"11.1.0+rc9.ee.0","tag":true,"coverage":null,"created_at":"2018-07-12T11:25:34.106Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-release-tools-bot","created_at":"2018-05-21T19:59:15.157Z","bio":null,"location":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null},"commit":{"id":"1f4f4e4d5bd5f8a2219afb4a83f14a1dd709e7d7","short_id":"1f4f4e4d","title":"Update
        VERSION to 11.1.0-rc9-ee","created_at":"2018-07-12T11:25:25.000Z","parent_ids":["b9cb807976642a9df5506ea1dc881a26a295feb2"],"message":"Update
        VERSION to 11.1.0-rc9-ee\n","author_name":"GitLab Release Tools Bot","author_email":"robert+release-tools@gitlab.com","authored_date":"2018-07-12T11:25:25.000Z","committer_name":"GitLab
        Release Tools Bot","committer_email":"robert+release-tools@gitlab.com","committed_date":"2018-07-12T11:25:25.000Z"},"pipeline":{"id":86691,"sha":"1f4f4e4d5bd5f8a2219afb4a83f14a1dd709e7d7","ref":"11.1.0+rc9.ee.0","status":"success"},"runner":null,"artifacts_expire_at":null},{"id":2614573,"status":"manual","stage":"package-release","name":"Ubuntu-14.04-release","ref":"11.1.0+rc9.ee.0","tag":true,"coverage":null,"created_at":"2018-07-12T11:25:34.122Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-release-tools-b[...]
- request:
    method: post
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/jobs/2614573/play
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9763e910ea01793bbb82101d2a7822e"
    body:
      encoding: UTF-[...]
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.1.0%2Brc9.ce.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5543879f49b6a1fd5d6162eca662a03"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc9.ce.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc9.ce.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":86696,"sha":"764056bc72adddeee1435adfddb338719aec7e08","ref":"11.1.0+rc9.ce.0","status":"success"}]'
  recorded_at: Thu, 12 Jul 2018 18:22:39 GMT
[...]
