---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.1.0%2Brc5.ce.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b6f4041eff358d808ed23161f24b12c"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc5.ce.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc5.ce.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":86362,"sha":"484c423f425a247465d856c484a99d7561a014ef","ref":"11.1.0+rc5.ce.0","status":"success"}]'
  recorded_at: Mon, 09 Jul 2018 22:00:19 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/86362/jobs?scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e46c6e0325c3e83eef38025c70a6111a"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86362/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86362&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86362/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86362&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '17'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":2600292,"status":"manual","stage":"trigger-packages","name":"release:packages","ref":"11.1.0+rc5.ce.0","tag":true,"coverage":null,"created_at":"2018-07-06T16:55:48.933Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-release-tools-bot","created_at":"2018-05-21T19:59:15.157Z","bio":null,"location":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null},"commit":{"id":"484c423f425a247465d856c484a99d7561a014ef","short_id":"484c423f","title":"Update
        VERSION to 11.1.0-rc5","created_at":"2018-07-06T16:55:40.000Z","parent_ids":["fcef4708b4d0dafbb9f3174e8abf72fb05f758f7"],"message":"Update
        VERSION to 11.1.0-rc5\n","author_name":"GitLab Release Tools Bot","author_email":"robert+release-tools@gitlab.com","authored_date":"2018-07-06T16:55:40.000Z","committer_name":"GitLab
        Release Tools Bot","committer_email":"robert+release-tools@gitlab.com","committed_date":"2018-07-06T16:55:40.000Z"},"pipeline":{"id":86362,"sha":"484c423f425a247465d856c484a99d7561a014ef","ref":"11.1.0+rc5.ce.0","status":"success"},"runner":null,"artifacts_expire_at":null},{"id":2600293,"status":"manual","stage":"package-release","name":"Ubuntu-14.04-release","ref":"11.1.0+rc5.ce.0","tag":true,"coverage":null,"created_at":"2018-07-06T16:55:48.951Z","started_at":null,"finished_at":null,"duration":null,"user":{"id":443,"name":"GitLab
        Release Tools Bot","username":"gitlab-release-tools-bot","state":"active","avatar_url":"https://dev.gitlab.org/uploads/-/system/user/avatar/443/ship-it-squirrel.png","web_url":"https://dev.gitlab.org/gitlab-release-tools-b[...]
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.1.0%2Brc5.ee.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"51df5903b72582f1bd1f411c4494cba7"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc5.ee.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc5.ee.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":86357,"sha":"6cd9a6de8ac4c427fa6587ae4cdb13a986798104","ref":"11.1.0+rc5.ee.0","status":"success"}]'
  recorded_at: Tue, 10 Jul 2018 18:45:20 GMT
[...]
