---
http_interactions:
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines?ref=11.1.0%2Brc4.ce.0&scope=tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc8ba0b73f018401eb4bdb9fb8178dbc"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc4.ce.0&scope=tags&sort=desc>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines?id=gitlab%2Fomnibus-gitlab&order_by=id&page=1&per_page=20&ref=11.1.0%2Brc4.ce.0&scope=tags&sort=desc>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":86193,"sha":"64a2fbb91119cb752a18d0bb24543b07adbe10c0","ref":"11.1.0+rc4.ce.0","status":"success"}]'
  recorded_at: Mon, 09 Jul 2018 22:00:22 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/86193/jobs?scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86193/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86193&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86193/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86193&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 09 Jul 2018 22:00:22 GMT
[...]
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/86193/jobs?scope=manual
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      Link:
      - <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86193/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86193&scope%5B%5D=manual>;
        rel="first", <https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus%2Dgitlab/pipelines/86193/jobs?id=gitlab%2Fomnibus-gitlab&page=1&per_page=20&pipeline_id=86193&scope%5B%5D=manual>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '0'
      X-Total-Pages:
      - '1'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 09 Jul 2018 22:00:23 GMT
recorded_with: VCR 2.9.3
