---
http_interactions:
- request:
    method: post
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/trigger/pipeline
    body:
      encoding: UTF-8
      string: token=[OMNIBUS_BUILD_TRIGGER_TOKEN]&ref=master&variables[VERSION]=1.2.3&variables[GITLAB_VERSION]=master&variables[NIGHTLY]=true&variables[ee]=false
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0f0d825903a3c2d7e532fdf488f3e12c"
    body:
      encoding: UTF-8
      string: '{"id":110524,"sha":"c48bb4cb7732871a946b96dff1b127bace6ea828","ref":"master","status":"pending","web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines/110524","before_sha":"0000000000000000000000000000000000000000","tag":false,"yaml_errors":null,"user":{"id":483,"name":"John
        Skarbek","username":"skarbek","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c6455ce4726023aac6dd7fb0acd1f236?s=80\u0026d=identicon","web_url":"https://dev.gitlab.org/skarbek"},"created_at":"2019-04-26T17:21:31.881Z","updated_at":"2019-04-26T17:21:32.342Z","started_at":null,"finished_at":null,"committed_at":null,"duration":null,"coverage":null,"detailed_status":{"icon":"status_pending","text":"pending","label":"pending","group":"pending","tooltip":"pending","has_details":false,"details_path":"/gitlab/omnibus-gitlab/pipelines/110524","illustration":null,"favicon":"/assets/ci_favicons/favicon_status_pending-5bdf338420e5221ca24353b6bff1c9367189588750632e9a871b7af09ff6a2ae.png"}}'
  recorded_at: Fri, 26 Apr 2019 17:21:32 GMT
- request:
    method: get
    uri: https://dev.gitlab.org/api/v4/projects/gitlab%2Fomnibus-gitlab/pipelines/110524
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Private-Token:
      - "[DEV_API_PRIVATE_TOKEN]"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b97123edb97c6f38a8bafb202831f19"
    body:
      encoding: UTF-8
      string: '{"id":110524,"sha":"c48bb4cb7732871a946b96dff1b127bace6ea828","ref":"master","status":"success","web_url":"https://dev.gitlab.org/gitlab/omnibus-gitlab/pipelines/110524","before_sha":"0000000000000000000000000000000000000000","tag":false,"yaml_errors":null,"user":{"id":483,"name":"John
        Skarbek","username":"skarbek","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c6455ce4726023aac6dd7fb0acd1f236?s=80\u0026d=identicon","web_url":"https://dev.gitlab.org/skarbek"},"created_at":"2019-04-26T17:21:31.881Z","updated_at":"2019-04-26T18:39:50.609Z","started_at":"2019-04-26T17:21:36.059Z","finished_at":"2019-04-26T18:39:50.603Z","committed_at":null,"duration":4681,"coverage":null,"detailed_status":{"icon":"status_warning","text":"passed","label":"passed
        with warnings","group":"success-with-warnings","tooltip":"passed","has_details":false,"details_path":"/gitlab/omnibus-gitlab/pipelines/110524","illustration":null,"favicon":"/assets/ci_favicons/favicon_status_success-8451333011eee8ce9f2ab25dc487fe24a8758c694827a582f17f42b0a90446a2.png"}}'
  recorded_at: Fri, 26 Apr 2019 18:40:49 GMT
recorded_with: VCR 2.9.3
